.Cards-Wrapper{
    width: 100%;
    max-width: 900px;
    position: relative;
    left: 20px;
}

.Cards-Wrapper ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    position: relative;
    padding: 0 20px;
}

.Cards-Wrapper ul li{
    width: 100px;
    height: 150px;
    margin-top: 15px;
    border: 1px solid #222;
    border-radius: 10px;
    box-shadow: 1px 1px 1px;
    object-fit: cover;
    overflow: hidden;
}


h5{
    text-transform: uppercase;
}
