.Home {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    display: flex;
}

.container {
    margin-top: 100px;
}

.campaignCreate {
    display: block;
    float: right;
}

.createButton {
    text-align:right;
}