.RandomImage {
    width: 100%;
    height: 100vh;
    background-color: #282c34;
}

.container {
    padding-top: 200px;
    display:grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 80px auto 80px; 
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.items {
    height: 350px;
    text-align: center;
}

.nextStepButton {
    padding: 300px;
    padding-top: 200px;
}